/*custom styles */
body {
	font-family: Cardo, Georgia, serif;
}

h1, h2, h3 {
	font-family: Lato, Arial, sans-serif;
	font-weight: normal;
}
h1 {
	font-weight: 100;
}
h2 {
	font-size: 2em;
}
h3 {
	font-size: 1.4em;
	margin-bottom: .4em;
}
p {
	line-height: 1.4;
	padding-bottom: .4em;
	border-bottom: 1px solid #666;
}